body {
	background-color: #252525;
	color: white;
	font-family: "Helvetica";
}

button.active{
	color: salmon;
}
button:disabled.active{
	color: grey;
}
button {
	border:none;
	padding: 5px;
	background-color: lightgray;
}

#soundToLoad {
	display: none;
}

#effects-selector {
	display: none;
}
#effects-selector.active {
	display: inline-block;
}
/* .slider-group {
	display: none
}

.slider-group.visible {
	display: block
} */
